README.md
target/**
build/**
.classpath
README.md
.settings/**
*.class                                                                 
L7ConnecTeam/.settings 
L7ConnecTeam/.classpath
L7ConnecTeam/.project
L7ConnecTeamUI/.settings 
L7ConnecTeamUI/.classpath
L7ConnecTeamUI/.project
**/.project
**/*.class
**/.settings/**

/.metadata/
